* text=auto eol=lf

# Don't ship dev tooling and docs in Composer dist downloads.
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.styleci.yml export-ignore
/CHANGELOG.md export-ignore
/phpstan.neon export-ignore
/screenshots export-ignore
/tests export-ignore

/js/.bundlewatch.config.json export-ignore
/js/.gitignore export-ignore
/js/admin.ts export-ignore
/js/forum.ts export-ignore
/js/jest.config.cjs export-ignore
/js/node_modules export-ignore
/js/package.json export-ignore
/js/package-lock.json export-ignore
/js/src export-ignore
/js/tests export-ignore
/js/tsconfig.json export-ignore
/js/tsconfig.test.json export-ignore
/js/webpack.config.cjs export-ignore

# Built output is generated; mark for nicer diffs and language stats.
/js/dist/** -diff
/js/dist/** linguist-generated
/js/dist-typings/** -diff
/js/dist-typings/** linguist-generated
